* {
    font-family: 'Roboto', sans-serif;
}

body {
    /* background-color: rgb(255, 255, 240); */
    background-image: url(/Assets/Images/metalcubes.jpg);
    background-size: cover;
    background-position: center;
    height: 1000px;


}

p, .form-group, legend {
    color: #333;
}

